@import url("https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@300;400;500;600&family=Rajdhani:wght@300;400;500;600;700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Colors Palette */
/*
#181818
#333532
#f5cb5b
#fffffd
*/
html {
  margin: 0;
  padding: 0;
}

#root {
  font-family: "Rajdhani", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 600;
  max-width: fit-content;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.image-container {
  display: flex;
  justify-content: space-around;
  max-width: 100%;
}
.image-size {
  display: flex;
  max-width: 160px;
  align-self: center;
}

.logo.Button {
  height: 0em;
  padding: 0em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 1em #f5cb5b);
  animation-name: logo-spin;
  animation-duration: 600ms;
}
.logo.react:hover {
  filter: drop-shadow(0 0 1em #f5cb5b);
  transform: rotate(360deg);
}

.field-text {
  font-family: "Raleway", sans-serif;
  margin: 20px 0px 20px 0px;
  font-size: 38px;
}
footer {
  font-family: "Rajdhani", sans-serif;
  z-index: 1;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.card {
  z-index: 1;
  margin-top: 0px;
  padding: 2em;
}

div.card-container {
  max-width: 100%;
  max-height: 100%;
  margin-top: 10px;
  box-shadow: 16px 14px 20px #0000008c;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
div.card-container::before {
  content: "";
  background-image: conic-gradient(#f5cb5b 20deg, transparent 120deg);
  width: 200%;
  height: 200%;
  position: absolute;
  animation: rotate 2s linear infinite;
}
div.card-container::after {
  content: "";
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  background: #101010;
  position: absolute;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
  letter-spacing: 5px;
  box-shadow: inset 20px 20px 20px #0000008c;
}

:root {
  color: #fffffd;
  background-color: #181818;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #f5cb5b;
  text-decoration: inherit;
}
a:hover {
  color: #fffffd;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1;
}

button {
  border-radius: 10px;
  border: 1px solid #f5cb5b;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: "Hind Vadodara", sans-serif;
  background-color: transparent;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* ---- particles.js container ---- */

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #181818;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

@keyframes drop {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(110%);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

button:hover {
  animation: pulse 1s infinite;
  border: 1px solid #fffffd;
}
